h1 {
  font-family: 'Open Sans', sans-serif;
  display: inline;
}

.headline {
  display: flex;
  justify-content: center;
  background-color: #404041
}

.range-message {
  display: flex;
  justify-content: center;
}

.range-instructions {
  display: flex;
  justify-content: center;
}

.range-input {
  display: flex;
  justify-content: center;
}

.number_headline {
  color: #ED458B;
  font-weight: bold;
}

.guesser_headline {
  color: #E6E7E8;
  font-weight: light;
}

.guess-message {
  display: flex;
  justify-content: center;
}

.guess-form {
  display: flex;
  justify-content: center;
}

.reset-game {
  display: flex;
  justify-content: center;
}
